version: '3.8'

services:
  database:
    image: mariadb:latest
    restart: unless-stopped
    env_file: .env
    environment:
      MYSQL_DATABASE: '${MYSQL_DATABASE}'
      MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
      MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
      MYSQL_USER: '${MYSQL_USER}'
    ports:
      - 3306:3306
    volumes:
      - db-data:/var/lib/mariadb
    networks:
      - spring-network

  app:
    build: .
    restart: unless-stopped
    ports:
      - "9090:8080"
    environment:
      # Override DB URL to use the service name 'database' instead of 'localhost'
      SPRING_DATASOURCE_URL: jdbc:mariadb://database:3306/news_reader?useUnicode=true&characterEncoding=utf-8&useSSL=false
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
    depends_on:
      - database
    networks:
      - spring-network



  phpmyadmin:
    depends_on:
      - database
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    ports:
      - 8081:80
    env_file: .env
    environment:
      PMA_HOST: database
      MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
    networks:
      - spring-network

volumes:
  db-data:

networks:
  spring-network:
    driver: bridge
    
